/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex Mono", monospace;
  --background-color: #000028;
  --accent-color: #ff0070;
  --alt-color: #ff0070;
  --border-color: #ff007040;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --text-decor-color: #000028;
  --font-size: 18px;
  --line-height: 23.4px;
  --background-image: url(../images/cover-image.png);
  --rec: visible;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
